.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    box-shadow: 0 5px 3px #cecece;
    a {
        flex: 1;
        i {
            font-size: 1.7rem;
            font-weight: bold;
        }
    }
    img {
        flex: 10;
        width: 230px;
        height: 60px;
        margin: 0;
        padding: .5rem;
    }
}


