/**********************************/
/**********  COLORS CHART **********/
/**********************************/
/**********  FONTS CHART **********/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  font-weight: 800;
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;
  box-shadow: 0 5px 3px #cecece;
}
.logo img {
  width: 230px;
  height: 60px;
  margin: 0;
  padding: 0.5rem;
}

footer {
  padding: 20px 0 20px 20px;
  font-size: 0.9rem;
  background-color: black;
  color: white;
}
footer .logo-footer {
  padding-bottom: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
footer ul li {
  padding-bottom: 10px;
}
footer ul .bold {
  font-weight: 600;
}
footer ul .bold i {
  width: 8px;
  margin-right: 25px;
}
footer ul .regular {
  font-weight: 400;
}

.localisation {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  text-align: center;
  background-color: #e4e4e4;
}
.localisation i {
  padding: 10px;
  font-size: 1.2rem;
}
.localisation input {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background-color: #e4e4e4;
}
.localisation input::placeholder {
  color: black;
}

.exploration {
  padding: 40px 2rem 50px;
  text-align: center;
  margin: 0 0 50px 0;
  background-color: #f6f6f6;
}
.exploration p {
  margin: 20px 0 30px 0;
  font-weight: 300;
}

.process h2 {
  padding-left: 10px;
}
.process .process-task {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.process .process-task .task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0;
  position: relative;
  min-width: 300px;
  max-width: 400px;
  margin: 10px 35px 10px 45px;
  padding: 30px 80px 30px 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 8px 8px #e4e4e4;
}
@media screen and (max-width: 480px) {
  .process .process-task .task {
    min-width: 330px;
  }
}
.process .process-task .task i {
  padding: 0 20px;
}
.process .process-task .task .rounded-nbr {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -15px;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.restaurant {
  min-width: 300px;
  margin-top: 60px;
  margin-bottom: 50px;
  background-color: #f6f6f6;
}
.restaurant h2 {
  padding: 50px 10px 0 10px;
}
.restaurant .restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant .restaurant-list .restaurant-card {
  flex: 1;
  position: relative;
  margin: 15px;
  min-width: 300px;
  max-width: 400px;
  height: 250px;
  background-color: white;
  box-shadow: 0 8px 8px #e4e4e4;
  border-radius: 15px;
}
@media screen and (max-width: 480px) {
  .restaurant .restaurant-list .restaurant-card {
    margin: 15px;
  }
}
@media screen and (max-width: 1536px) {
  .restaurant .restaurant-list .restaurant-card {
    margin: 45px;
  }
}
@media screen and (max-width: 1040px) {
  .restaurant .restaurant-list .restaurant-card {
    margin: 15px;
  }
}
.restaurant .restaurant-list .restaurant-card .background-img {
  display: flex;
  justify-content: flex-end;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.restaurant .restaurant-list .restaurant-card .background-img .new {
  width: 80px;
  height: 28px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 1px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #2f8b76;
  background: #99e2d0;
}
.restaurant .restaurant-list .restaurant-card .la-palette-du-gout-img {
  background: url("../../images/restaurants/la-palette-du-gout.jpg") center center/cover;
}
.restaurant .restaurant-list .restaurant-card .la-note-enchantee-img {
  background: url("../../images/restaurants/la-note-enchantee.jpg") center center/cover;
}
.restaurant .restaurant-list .restaurant-card .a-la-francaise-img {
  background: url("../../images/restaurants/a-la-francaise.jpg") center center/cover;
}
.restaurant .restaurant-list .restaurant-card .le-delice-des-sens-img {
  background: url("../../images/restaurants/le-delice-des-sens.jpg") center center/cover;
}
.restaurant .restaurant-list .restaurant-card h3 {
  padding: 10px 0 5px 15px;
}
.restaurant .restaurant-list .restaurant-card p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0 15px 15px;
}
.restaurant .restaurant-list .restaurant-card i {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 1.7rem;
}

h1 {
  margin-bottom: 20px;
  padding: 30px 0 0 15px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
}

.restaurant-image {
  height: 28vh;
  background: url("../../images/restaurants/a-la-francaise.jpg") center center/cover;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
.apparition-1 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.05s ease-out forwards;
}

.apparition-2 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.1s ease-out forwards;
}

.apparition-3 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.15s ease-out forwards;
}

.apparition-4 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.2s ease-out forwards;
}

.apparition-5 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.25s ease-out forwards;
}

.apparition-6 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.3s ease-out forwards;
}

.apparition-7 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.35s ease-out forwards;
}

.apparition-8 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.4s ease-out forwards;
}

.apparition-9 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.45s ease-out forwards;
}

.apparition-10 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.5s ease-out forwards;
}

.apparition-11 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.55s ease-out forwards;
}

.apparition-12 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.6s ease-out forwards;
}

.apparition-13 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.65s ease-out forwards;
}

.apparition-14 {
  opacity: 0;
  transform: translateY(30px);
  animation: apparition 0.5s 0.7s ease-out forwards;
}

.menu {
  margin-top: -30px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
}
.menu .restaurant-title {
  position: relative;
}
.menu .restaurant-title i {
  position: absolute;
  right: 35px;
  top: 35px;
  font-size: 1.7rem;
}
.menu .dish-type {
  margin-bottom: 5px;
  padding: 15px;
  background: #f6f6f6;
}
.menu .dish-type h2 {
  width: 40px;
  padding-bottom: 3px;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
}
.menu .dish-type .dishes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu .dish-type .dish {
  flex: 1;
  position: relative;
  min-width: 300px;
  margin: 7px 10px;
  padding: 10px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .menu .dish-type .dish {
    width: 320px;
  }
}
.menu .dish-type .dish h3, .menu .dish-type .dish p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .dish-type .dish h3 {
  padding-right: 50px;
  font-size: 1.2rem;
  font-weight: 800;
}
.menu .dish-type .dish p {
  padding: 5px 50px 0 0;
  font-size: 1rem;
  font-weight: 400;
}
.menu .dish-type .dish .price {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 1rem;
}
.menu .dish-type .dish .slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu .dish-type .dish .slide--check {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
}
.menu .dish-type .dish:hover .slide--check {
  transform: rotate(0deg);
  overflow: hidden;
}
.menu .dish-type .dish .slide--check {
  transform: rotate(-360deg);
  transition: transform 400ms ease-out 100ms;
}
.menu .order-btn {
  text-align: center;
  margin-top: 20px;
}
.menu .order-btn button {
  padding: 15px 50px;
}

button {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  width: max-content;
  padding: 15px 20px;
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 5px #cacaca;
  cursor: pointer;
}

img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
