.button {
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 5px #cacaca;
    cursor: pointer;
    transition: opacity, .5s ease-in-out;
    &:hover {
        opacity: .7;
        box-shadow: 0 7px 7px #818181;
    }
}

.exploration__button {
    width: 300px;
}

    
.order-btn {
    .width-btn {
        width: 200px;
    }
}

