.fa-heart {
    position: absolute;
    font-size: 1.7rem;
    cursor: pointer;
}

// .empty-heart {
//     color: #1c1c1c
// }

// .filled-heart {
//     color: #9c47fc;
//     display: block;
//     background: -webkit-linear-gradient(180deg, $primary-color, $secondary-color);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }
