.restaurant-image {
    height: 28vh;
}

.img-a-la-francaise {
    background: url("../../images/restaurants/a-la-francaise.jpg") center center/cover;
}

.img-la-note-enchantee {
    background: url("../../images/restaurants/la-note-enchantee.jpg") center center/cover;
}

.img-la-palette-du-gout {
    background: url("../../images/restaurants/la-palette-du-gout.jpg") center center/cover;
}

.img-le-delice-des-sens {
    background: url("../../images/restaurants/le-delice-des-sens.jpg") center center/cover;
}

