.localisation {
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    text-align: center;
    background-color: #e4e4e4;
    i {
        bottom: 25px;
        right: 25px;
        padding: 10px;
        font-size: 1.2rem;
    }
    input {
        font-size: 1rem;
        font-weight: 700;
        border: none;
        background-color: #e4e4e4;
        &::placeholder {
            color: black;
        }
    }
}

.exploration {
    padding: 40px 2rem 50px;
    text-align: center;
    margin: 0 0 50px 0;
    background-color: $primary-background-color;
    p {
        margin: 20px 0 30px 0;
        font-weight: 300;
    }
}

.process {
    h2 {
        padding-left: 10px;
    }
    .process-task {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .task {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            flex: 1 1 0;
            position: relative;
            min-width: 300px;
            max-width: 400px;
            margin: 10px 35px 10px 45px;
            padding: 30px 80px 30px 20px;
            transition: background-color .2s ease-in-out;
            background-color: $primary-background-color;
            border-radius: 20px;
            box-shadow: 0 8px 8px #e4e4e4;
            cursor: pointer;
            @include x-small-only {
                min-width: 330px;
            }
            &:hover {
                background-color: rgba(146, 86, 220, 0.1);
            }
            i {
                padding: 0 20px;
            }
            .rounded-nbr {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: -15px;
                width: 25px;
                height: 25px;
                font-size: .8rem;
                font-weight: 400;
                color: white;
                background-color: $primary-color;
                border-radius: 50%;

            }
        }
    }
}

.restaurant {
    min-width: 300px;
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: $primary-background-color;
    h2 {
        padding: 50px 10px 0 10px;
    }
    .restaurant-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .restaurant-card {
            flex: 1;
            position: relative;
            margin: 15px;
            min-width: 300px;
            max-width: 400px;
            height: 250px;;
            background-color: white;
            box-shadow: 0 8px 8px #e4e4e4;
            border-radius: 15px;
            @include x-small-only {
                margin: 15px;
            }
            @include large-only {
                margin: 45px;
            }
            @include medium-only {
                margin: 15px;
            }
            .background-img {
                display: flex;
                justify-content: flex-end;
                height: 180px;
                border-radius: 15px 15px 0 0;
                .new {
                    width: 80px;
                    height: 28px;
                    margin-top: 10px;
                    margin-right: 10px;
                    padding: 6px 12px;
                    border-radius: 1px;
                    text-align: center;
                    font-size: .8rem;
                    font-weight: 600;
                    color: #2f8b76;
                    background:$tertiary-color ;
                }

            }
            .la-palette-du-gout-img {
                background: url('../../images/restaurants/la-palette-du-gout.jpg') center center/cover;
            }
            .la-note-enchantee-img {
                background: url('../../images/restaurants/la-note-enchantee.jpg') center center/cover;
            }
            .a-la-francaise-img {
                background: url('../../images/restaurants/a-la-francaise.jpg') center center/cover;
            }
            .le-delice-des-sens-img {
                background: url('../../images/restaurants/le-delice-des-sens.jpg') center center/cover;
            }

            h3 {
                padding: 10px 0 5px 15px;
            }
            p {
                font-size: 1rem;
                font-weight: 400;
                padding: 0 0 15px 15px;
            }
            i {
                position: absolute;
                right: 25px;
                bottom: 25px;
            }
        }
    }
}

// @keyframes heart-apparition {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes heart-disparition {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
