h1 {
    margin-bottom: 20px;
    padding: 30px 0 0 15px;
    font-family: 'Shrikhand', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

@keyframes apparition {
    100%{
        opacity: 1;
        transform: none;
    }
}

@for $i from 1 through 14 {
    .apparition-#{$i} {
        opacity: 0;
        transform: translateY(30px);    
        animation: apparition 0.5s $i * .08s ease-out forwards;
    }
}

.container {
    position: relative;
    margin: -30px auto 60px auto;
    padding-bottom: 80px;
    background-color: $primary-background-color;
    border-radius: 35px 35px 0 0;
    @include medium {
        width: 90%;
        border-radius: 35px;
        box-shadow:10px 10px 12px 10px darken($primary-background-color,30%);
    }
    i {
        font-size: 1.8rem;
        top: 25px;
        right: 50px;
    }
    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0;
        @include x-large {
            flex-wrap: nowrap;
        }
        .dish-type {
            margin-bottom: 5px;
            padding : 15px;
            background: $primary-background-color;
            h2 {
                width: 40px;
                padding-bottom: 3px;
                font-size: 1rem;
                font-weight: 400;
                border-bottom: 3px solid $tertiary-color;
            }
            .dishes {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .dish {
                display: flex;
                width: 350px;
                margin: 7px 10px;
                border-radius: 15px;
                background: #fff;
                cursor: pointer;
                box-shadow:0 0 7px 0px darken($primary-background-color,10%);
                @include x-small-only {
                    width: 320px;
                }
                & > div{
                    @include transitionDish();
                    padding: 3%;
                    width: calc(100% - 3rem);
                    display: block;
                }
                h3, p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                h3 {
                    // padding-right: 50px;
                    font-size: 1.2rem;
                    font-weight: 800;
                }
                p {
                    // padding: 5px 50px 0 0;
                    font-size: 1rem;
                    font-weight: 400;
                }
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    width: 3rem;
                }
                .slide {
                    @include transitionDish();
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 0;
                    height: 100%;
                    background: $tertiary-color;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    overflow: hidden;
                    font-size: 1.5rem;
                    color: #fff; 
                    &::before{
                        transition: transform .5s;
                        transform: rotate(-360deg);
                    }
                }
                &:hover {
                    & > div{
                        width: calc(100% - 6rem);
                    }
                    & .slide {
                        width: 3rem;
                        &::before {
                            transform: rotate(0deg);
                        }
                    }
                }
            }    
        }
    }
    .order-btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .apparition-14 {
            padding-left: 50px;
            padding-right: 50px;    
        }
    }
}



